.example-section {
  background: #ECECEC;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  margin-top: -2.5rem;
  position: relative;
  z-index: 10;
}
.example-section__btn {
  border-radius: 12px;
  border: 1px solid #443B3B;
  background: rgba(217, 217, 217, 0.19);
  color: #1C1B1B;
  text-align: center;
  font-family: Exo;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.84px;
  padding: 16px 20px;
  cursor: pointer;
}
.example-section__btn:hover {
  background: #f5f5f5;
  color: #222;
}
.example-section__headline {
  color: #1C1B1B;
  text-align: center;
  background: linear-gradient(90deg, #BEE035 10.39%, #844071 36.02%, #404F84 52.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-variant-numeric: slashed-zero;
  font-feature-settings: 'case' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on;
  font-family: Exo;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -1.6px;
}
.example-section__headline span {
  background: #1C1B1B;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.example-section__see-more {
  color: #41423E;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.98px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  margin-top: 10px;
  text-underline-position: from-font;
  border: none;
  cursor: pointer;
} 