.hero {
  position: relative;
  width: 100vw;
  height: 90vh;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero__video {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 1;
  object-fit: cover;
}
.hero__overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: linear-gradient(180deg,rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.25) 100%);
  z-index: 2;
}
.hero__content {
  position: relative;
  z-index: 3;
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 7rem;
}
.hero__tag {
  padding: 12px 20px;
  margin-bottom: 2.2rem;
  border-radius: 12px;
  border: 1px solid #443B3B;
  background: rgba(217, 217, 217, 0.19);
  color: #FFF;
  text-align: center;
  font-family: Exo;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.84px;
  cursor: pointer;
}
.hero__headline {
  background: linear-gradient(90deg, #BEE035 20%, #844071 66%, #404F84 99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #D9D9D9;
  font-variant-numeric: slashed-zero;
  font-feature-settings: 'case' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on;
  font-family: Exo;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 57px; /* 126.667% */
  letter-spacing: -2.25px;
  margin: 0;
  max-width: 720px;
}
.hero__subheadline {
  background: #d9d9d9;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.media-player {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(3, 2, 2, 0.30);
  padding: 20px 30px;
  width: 100%;
}
.media-player__play {
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #101215;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.icon-play, .icon-pause {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-play {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23d1e231" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><polygon points="10,6 26,16 10,26"/></svg>');
}
.icon-pause {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23d1e231" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><rect x="9" y="6" width="5" height="20"/><rect x="18" y="6" width="5" height="20"/></svg>');
}
.media-player__progress-bar {
  position: relative;
  flex: 1;
  height: 12px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}
.media-player__progress-bg {
  width: 100%;
  height: 10px;
  background: #252525;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.media-player__progress-fg {
  height: 100%;
  background: #CAE871;
  border-radius: 8px 0 0 8px;
  transition: width 0.15s;
}
.media-player__timeline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.media-player__time {
  color: #C9C4C1;
  font-variant-numeric: slashed-zero;
  font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss05' on;
  font-family: Exo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
} 
