.info-bar {
  width: 100vw;
  background: #D9D9D9;
  text-align: center;
  padding: 23px 20px;
  color: #111010;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.98px;
}
.info-bar__code {
  color: #404F84;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.98px;
}
.info-bar-bottom {
  width: 100vw;
  height: 9px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #CAEA71 0%, #844071 50.5%, #404F84 100%);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.navbar__left, .navbar__right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 3;
}
.navbar__right {
  justify-content: right;
}
.navbar__center {
  flex: 5;
  display: flex;
  justify-content: center;
}
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-icon {
  display: inline-block;
  line-height: 0;
}
.nav-btn {
  color: #1C1B1B;
  text-align: center;
  font-family: Exo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.98px;
  border-radius: 6px;
  border: 1px solid #827D7D;
  background: #D9D9D9;
  padding: 9px 27px;
  cursor: pointer;
}
.nav-btn.active, .nav-btn:hover {
  background: #E5E5DF;
}
.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-btn:hover {
  background: #f5f5f5;
}
.icon-cart, .icon-user, .icon-search {
  display: inline-block;
}
